body {
    background-color: #f3e5f5; 
    margin: 0px;
    text-align: center;
}

#navbar{
background-color: #7b1fa2;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(145deg, #e1bee7, #d1c4e9); 
    padding: 20px;
    border-radius: 10px;
}



form {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    background: #e2a5da; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
